to communicate with our database

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\miniconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

#### mysql

In [2]:
import pymysql

In [3]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='123456',
                             db='pythondb')

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")

In [10]:
obj = connection.cursor()

NameError: name 'connection' is not defined

In [11]:
obj.execute("SELECT * FROM mytable")

NameError: name 'obj' is not defined

In [12]:
for i in obj.fetchall():
    print(i)

NameError: name 'obj' is not defined

##### Oracle

In [2]:
pip install cx-Oracle

Collecting cx-Oracle
  Using cached cx_Oracle-8.3.0-cp39-cp39-win_amd64.whl (213 kB)
Installing collected packages: cx-Oracle
Successfully installed cx-Oracle-8.3.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/cx-oracle/

In [1]:
import cx_Oracle

In [3]:
connection = cx_Oracle.connect('system/123456@//localhost:1521/Testdb') #user/password@//hostname:Port/<dbname>

DatabaseError: ORA-12514: TNS:listener does not currently know of service requested in connect descriptor

In [3]:
obj = connection.cursor()

In [4]:
obj.execute('select * from emp')

In [5]:
for i in obj.fetchall():
    print(i)

##### mssql

In [13]:
pip install pyodbc

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pyodbc in c:\users\admin\miniconda3\lib\site-packages (4.0.39)

In [24]:
import pyodbc

In [25]:
connection = pyodbc.connect('Driver={ODBC DRIVER 17 for SQL Server};'
                            'Server=DESKTOP-4IH7NH8\SQLEXPRESS;'
                            'Trusted_Connection=yes;'
                            'Database=jupy.db'
                            )

In [26]:
obj = connection.cursor()

In [27]:
obj.execute("""
                        SELECT column_name, data_type, character_maximum_length 
                        FROM information_schema.columns 
                        WHERE table_name = 'sysdiagrams';
                        
                        """)

In [36]:
for i in obj.fetchall():
    print(i)

In [37]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'Oracle in OraDB21Home1',
 'Oracle in OraDB21Home2',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

##### postgresql

In [12]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 418.8 kB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6
Note: you may need to restart the kernel to use updated packages.

In [1]:
import psycopg2

In [2]:
connection = psycopg2.connect(database="practice", user="postgres", password="admin", host="localhost", port="12345")

In [3]:
obj = connection.cursor()

In [25]:
obj.execute("select * from employee")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [46]:
b =obj.fetchall()

In [ ]:
##############################################################

# mssql

In [38]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\admin\miniconda3\lib\site-packages (4.0.39)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [75]:
connection = pyodbc.connect('Driver={ODBC DRIVER 17 for SQL Server};'
                            'Server=DESKTOP-4IH7NH8\SQLEXPRESS;'
                            'Trusted_Connection=yes;'
                            'Database=jupy'
                            )

In [76]:
cursor=connection.cursor()

In [77]:
import pandas as pd

In [78]:
df=pd.read_csv(r"C:\Users\admin\Desktop\f\ccc.csv")

In [79]:
p=df.drop('class',axis=1)

In [80]:
p.columns

Index(['name', 'age', 'mobile'], dtype='object')

In [81]:
cursor.execute("create table employee11(name varchar(20) , age varchar(20), mobile varchar(20))")

In [82]:
for row in df.itertuples():
    cursor.execute('''
    INSERT INTO jupy.dbo.employee11(name, age, mobile)
    VALUES(?,?,?)''',
                 row.name,
                 row.age,                
                 row.mobile
                  )
connection.commit()

In [83]:
cursor.execute("""
                        SELECT column_name, data_type, character_maximum_length 
                        FROM information_schema.columns 
                        WHERE table_name = 'employee11';
                        
                        """)

In [84]:
for i in cursor.fetchall():
    print(i)

('name', 'varchar', 20)
('age', 'varchar', 20)
('mobile', 'varchar', 20)

In [85]:
cursor.execute('select * from employee11')

In [86]:
for i in cursor.fetchall():
    print(i)

('mohan', '12', '876543456')
('rama', '13', '98738765')
('sham', '14', '987675432')

In [94]:

cursor.execute('''
INSERT INTO jupy.dbo.employee11 values('name', 'age', '9876543')''')

In [96]:
cursor.execute('select * from employee11')

In [97]:
for i in cursor.fetchall():
    print(i)

('mohan', '12', '876543456')
('rama', '13', '98738765')
('sham', '14', '987675432')
('name', 'age', '9876543')

In [100]:
cursor.execute('''
alter table employee11 drop Column mobile ''')

In [101]:
cursor.execute('select * from employee11')
for i in cursor.fetchall():
    print(i)

('mohan', '12')
('rama', '13')
('sham', '14')
('name', 'age')

# postgresql

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\admin\miniconda3\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import psycopg2

In [2]:
connection = psycopg2.connect(database="jupy", user="postgres", password="admin", host="localhost", port="5432")

In [3]:
cursor1=connection.cursor()

In [4]:
import pandas as pd

In [5]:
df1=pd.read_csv(r"C:\Users\admin\Desktop\f\ccc.csv")

In [6]:
p=df1.drop('class',axis=1)

In [7]:
p.columns

Index(['name', 'age', 'mobile'], dtype='object')

In [8]:
cursor1.execute("create table employee2(name varchar(20) , age varchar(20), mobile varchar(20))")
connection.commit()

In [11]:

insert='INSERT INTO employee2 (name, age, mobile) VALUES (%s, %s, %s)'
for row in p.itertuples():
    cursor1.execute(insert,row[1:])
    
connection.commit()

In [13]:
cursor1.execute("select * from employee2")

In [15]:
for i in cursor1.fetchall():
    print(i)

('mohan', '12', '876543456')
('rama', '13', '98738765')
('sham', '14', '987675432')

In [19]:
cursor1.execute("update employee2 set name='ganesh' where age='12'")
connection.commit()

In [31]:
cursor1.execute("ROLLBACK")      # (InFailedSqlTransaction: current transaction is aborted,                                         
connection.commit()                  #commands ignored until end of transaction block)

In [32]:
cursor1.execute("select * from employee2")

In [33]:
for i in cursor1.fetchall():
    print(i)

('rama', '13', '98738765')
('sham', '14', '987675432')
('ganesh', '12', '876543456')

In [34]:
cursor1.execute("alter table employee2 add add_col varchar")

In [35]:
cursor1.execute("select * from employee2")
for i in cursor1.fetchall():
    print(i)
connection.commit()

('rama', '13', '98738765', None)
('sham', '14', '987675432', None)
('ganesh', '12', '876543456', None)

In [36]:
connection.commit()

In [37]:
cursor1.execute("alter table employee2 rename add_col to rename1_col")
connection.commit()

In [ ]:
 
#  (select a.id,b.manger_id from employee a left join employee b on a.id=b.manage_id where b.manager_id=input_id )
 
# select manager_id,count(manage_id) from employee group by manager_id
 
 
#  id, manager_id
#  1, Null
#  2,1
#  3,1
#  4,1
#  5,2
#  6,5

# select manager_id,count(manage_id) from employee group by manager_id
# select a.id,b.manger_id from employee a left join employee b on a.id=b.manage_id where b.manager_id=input_id

# def recur(manager_id):
#     a=(select id from employee where manager_id=2)
#     if a is not null:
#         recur(a)

# recur(manager_id)

In [5]:
####################################task indi4##########################################
import pyodbc
connection = pyodbc.connect('Driver={ODBC DRIVER 17 for SQL Server};'
                            'Server=DESKTOP-4IH7NH8\SQLEXPRESS;'
                            'Trusted_Connection=yes;'
                            'Database=HR'
                            )

In [6]:
obj = connection.cursor()

In [26]:
obj.execute('select * from employees where manager_id=100')

In [50]:
def recu(input_id):
    a=int(input_id)
    obj.execute(f'select * from employees where manager_id={input_id}')
    for i in obj.fetchall():
        print(i[0],i[-2])
        
recu(100)

101 100
102 100
114 100
120 100
121 100
122 100
123 100
145 100
146 100
176 100
177 100
178 100
179 100
201 100

In [53]:
import pyodbc
connection = pyodbc.connect('Driver={ODBC DRIVER 17 for SQL Server};'
                            'Server=DESKTOP-4IH7NH8\SQLEXPRESS;'
                            'Trusted_Connection=yes;'
                            'Database=HR'
                            )
obj = connection.cursor()

def recur(manager_id):
    if manager_id is None:
        condition = "manager_id IS NULL"
    else:
        condition = f"manager_id = {manager_id}"
    obj.execute(f"SELECT employee_id, manager_id FROM employees WHERE {condition}")
    employees = obj.fetchall()
    if not employees:
        return

    for employee in employees:
        emp_id, emp_manager_id = employee
        print(f"{emp_id} {emp_manager_id}")
        recur(emp_id)

manager_id = 100
print(f"Employees under Manager {manager_id}:")
recur(manager_id)

Employees under Manager 100:
101 100
108 101
109 108
110 108
111 108
112 108
113 108
200 101
203 101
204 101
205 101
206 205
102 100
103 102
104 103
105 103
106 103
107 103
114 100
115 114
116 114
117 114
118 114
119 114
120 100
126 120
121 100
122 100
123 100
192 123
193 123
145 100
146 100
176 100
177 100
178 100
179 100
201 100
202 201

In [19]:
s='12345678'
l=[]


for i in range(0,len(s),3):
    t=[]
    if i<=len(s)-3:
        for j in range(i,i+3):
            t.append(int(s[j]))
    else:
        for j in range(i,len(s)):
            t.append(int(s[j]))
    l.append(t)
l

[[1, 2, 3], [4, 5, 6], [7, 8]]