In [1]:
import numpy as np

In [4]:
# find out tentral tendency
a=np.array([2,4,5,58,95])
print('mean: ',np.mean(a))
print('median : ',np.median(a))
print('std : ',np.std(a))

mean:  32.8
median :  5.0
std :  37.56274750334432

In [54]:
# make dataframe from two list?

import pandas as pd

a=['ram','sham','tukaram','raj','baj','saj']
b=[1,2,4,5,6,7]


c=pd.DataFrame({'A':a,'B':b})
c

         A  B
0      ram  1
1     sham  2
2  tukaram  4
3      raj  5
4      baj  6
5      saj  7

In [9]:
# string convert into lower case

a='JHGFBDJHG'
b=a.lower()
b

'jhgfbdjhg'

In [12]:
# fetch keys from dict?

a={'a':1,'B':2}
b=a.keys()
b

dict_keys(['a', 'B'])

In [13]:
# capitalize first letter of string

a='jhgfh'
b=a.capitalize()
b

'Jhgfh'

In [10]:
# how to insert element at any given element 3 element is 100

a=[1,2,4,5,6,7]
a.insert(3,100)
a

[1, 2, 4, 100, 5, 6, 7]

In [17]:
# how to remove  duplicate value from list?

a=[2,4,6,8,9,5,5,8,2,2,2,2222222]
b=set(a)
c=list(b)
c

[2, 4, 5, 6, 8, 9, 2222222]

# what is recursion?

## recursion  is a function calling itself one or more times in it body

## One important thing to note is to terminate a recursion  statement.

## there would be problem of an infinite lp if recursion is not terminated.

In [19]:
# Explain python List Comprehension

a=[i for i in range(500)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

# what is bytes() function
 The  bytes() functionturns a simple bytes object.
     it is used to convert  objects into bytes objects  or create empty bytes object of the  specifies size

In [45]:
# type of operators   --for fresher

# @ Arithmatic   +,-,/,%
# @ Relational  <,>,<=.>=,==,!=

# @ assignment  =,+=,-=,/=,*=,%=
# @ logical     and,  or,  not

# @ membership in, not in 
# @ identity    is , is not
# @ Bitwise     it is use to compare (binary) numbers
#            AND(&)
#            or(|)
#            XOR(^)
#             Left Shift(<<)
#             Right shift(>>)




  # Left Shift(<<)
import numpy as np
# a=np.array([0,1,2,3,4,5,6,7,8,9])
# b=np.array([2])
# c=b**a
# print(c)
# # Left Shift(<<)
# print(bin(10))
# print(10<<2)

# # 101000    == 40


a=np.array([0,1,2,3,4,5,6,7,8,9])
b=np.array([2])
c=b**a
print(c)
# Left Shift(<<)
print(bin(10))
print(10>>2)

# 101000    == 40

[  1   2   4   8  16  32  64 128 256 512]
0b1010
2

In [ ]:
# what is " with statement" used for in python 

#  the ' with' statement  in python  is used in exception  handling.
    
# A file can be   opened  and closed  while excuting a block of code, 
# containing the 'with' statement without  using the close() function

In [51]:
# what is map() function python 

# The map function i python  is used for  applying a function on all elements of specific iterable


# it consists of two parameters, function and ierable 



# For ex:

def funa(n):
    return n*3
num=(1,2,3,4,5,6)
result=list(map(funa,num))   # funa --function   and num -- iterable
result

[3, 6, 9, 12, 15, 18]

In [ ]:
# what is __init__ in python ?


# The __init__ methodology is reversed method in python 


# it is also known as a constructor in the world of oop.


# when an object is created from a class, the __init__ methodology is called to  access the class attributes.

In [ ]:
# what are the tools present to  perfrm static analysis



#the two static ananlysis tols used to find

In [ ]:
################################################################

In [ ]:
# convert all element into string

In [55]:
b=[]
a=[12,15,'abc',156]
for i in a:
    b.append(str(i))
b

['12', '15', 'abc', '156']

In [57]:
list(map(lambda x:str(x),a))

['12', '15', 'abc', '156']

In [58]:
[str(i) for i in a]

['12', '15', 'abc', '156']

In [ ]:
########################################################################

In [67]:
a=[12,15,'abc','156',45]    # if numeric convert into integer and alpha then convert into string

In [86]:
b=[]

for i in a:
    if type(i)==str and i.isnumeric():
        b.append(int(i))
    else:
        b.append(i)
        
 
print(b)

[12, 15, 'abc', 156, 45]

In [99]:
c=[]

In [104]:
list(map(lambda x:int(x) if type(x)==str and x.isnumeric() else x,a))

[12, 15, 'abc', 156, 45]

In [ ]:
########################################################################################

In [106]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [107]:
[i for i in range(2,21,2)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
##############################################################################################

In [109]:
for i in range(1,31):
    if i%2==0 and i%3==0:
        print(i)

6
12
18
24
30

In [110]:
[i for i in range(1,31) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30]

In [ ]:
###############################################################################################

In [113]:
for i in range(1,4):
    print('*'*i)

*
**
***

In [117]:
a=('*'*i for i in range(1,4))

In [121]:
next(a)

'***'

In [126]:
for i in range(3):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *

In [127]:
for i in range(5):
    print(' '*(5-1)+"*"*i+ '*'*(i-1))

    *
    ***
    *****
    *******

In [130]:
for i in range(1,4):
    print(' '*(5-i)+'*'*i)

    *
   **
  ***

In [133]:
for i in range(1,5):
    print(' '*(5-i)+'*'*i +'*'*(i-1))

    *
   ***
  *****
 *******

In [135]:
for i in range(3):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *

In [136]:
#############################################

In [137]:
a=['shree','mohan','aliya','yash']

In [140]:
for i in a:
    print(i[0],'=',len(i))

s = 5
m = 5
a = 5
y = 4

In [ ]:
#####################################################

In [141]:
a='abcdefghijklmnop'

In [158]:
c=''

for i in a:
    if (a.index(i))%2 !=0 or (a.index(i))==0  :
        c+=i
    
c

'abdfhjlnp'

In [159]:
##############################################

In [172]:
a=[15,2,3,4]
b=[3,2,4,3]
c=[]
for i in a:
    for j in b:
        c.append(i*j)
        break
        
        
c

[45, 6, 9, 12]

In [173]:
a=[15,2,3,4]
b=[3,2,4,3]
c=[]
for i in range(len(a)):
    c.append(a[i]*b[i])
c

[45, 4, 12, 12]