r2=1-(y-y^)**2/(y-y_mean)**2

add R2  =  1- ((1-R2)(N-1))/(N-P-1)

In [27]:
# linear regression

SSE--sum square error
MSE-mean of(SSE)
Root mean square = squareroot(MSE)



gradient decent:
    it is process to find value of slope at which error is minimum
    
    we can change slope by learning rate
    
    m=m-de
        ---  * l       --de=> derivative of error   ,  l--learning rate
        dm

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data =sns.load_dataset('mpg')

In [3]:
data.dropna(inplace=True)

In [4]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [5]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [6]:
y=data['mpg']

In [7]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 392, dtype: float64

In [8]:
x=data.drop(['mpg','origin','name'],axis=1)

In [9]:
x

     cylinders  displacement  horsepower  weight  acceleration  model_year
0            8         307.0       130.0    3504          12.0          70
1            8         350.0       165.0    3693          11.5          70
2            8         318.0       150.0    3436          11.0          70
3            8         304.0       150.0    3433          12.0          70
4            8         302.0       140.0    3449          10.5          70
..         ...           ...         ...     ...           ...         ...
393          4         140.0        86.0    2790          15.6          82
394          4          97.0        52.0    2130          24.6          82
395          4         135.0        84.0    2295          11.6          82
396          4         120.0        79.0    2625          18.6          82
397          4         119.0        82.0    2720          19.4          82

[392 rows x 6 columns]

In [10]:
data.dropna(inplace=True)                # outlier  # encoding ---sklean.preprocessing import  # # sampling imblean.prepro
                                         #  feature select 
                                         #

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y, train_size=0.70)

In [13]:
x_train

     cylinders  displacement  horsepower  weight  acceleration  model_year
156          8         400.0       170.0    4668          11.5          75
31           4         113.0        95.0    2228          14.0          71
41           8         318.0       150.0    4096          13.0          71
362          6         146.0       120.0    2930          13.8          81
65           8         351.0       153.0    4129          13.0          72
..         ...           ...         ...     ...           ...         ...
88           8         302.0       137.0    4042          14.5          73
293          4          89.0        71.0    1925          14.0          79
13           8         455.0       225.0    3086          10.0          70
43           8         400.0       170.0    4746          12.0          71
218          4          79.0        58.0    1825          18.6          77

[274 rows x 6 columns]

In [14]:
y_train

156    16.0
31     25.0
41     14.0
362    24.2
65     14.0
       ...
88     14.0
293    31.9
13     14.0
43     13.0
218    36.0
Name: mpg, Length: 274, dtype: float64

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
obj=LinearRegression()

In [17]:
model=obj.fit(x_train,y_train)

In [18]:
model

LinearRegression()

In [19]:
model.intercept_   # c

-9.947308224033833

In [20]:
model.coef_    # m1, m2, m3...........

array([-0.64353683,  0.00897416, -0.00842054, -0.00632153, -0.02907432,
        0.72694573])

In [21]:
y_pred=model.predict(x_test)

In [22]:
y_pred

array([31.68878136, 20.20587786, 13.34254155, 25.20460592, 27.31084721,
       28.28928649, 21.41251797, 23.86784015, 28.74966141,  9.97225629,
       23.81540234, 21.17726289,  8.54232447, 12.30464661,  5.79203745,
       26.08512003, 26.6518561 , 29.62590865, 25.67576386, 25.53340173,
       11.62892876, 20.18430484, 21.64344709, 30.66824869, 31.8929484 ,
       20.01974676, 28.37396633, 27.6767943 , 29.52967149, 23.14832702,
        6.78139491, 14.30316965, 30.402336  , 22.78422719, 15.17363858,
       15.88947175, 25.71588101, 26.857972  , 27.47143066, 30.00533889,
       29.14546187, 28.0048772 , 23.1480812 , 32.58867396, 34.00188748,
       17.09089487, 32.74709816, 15.20494391, 19.39671521, 33.34062447,
       22.14515488, 30.96895065, 11.16595488, 29.41295002, 22.20265337,
       17.80871344, 24.6880195 , 30.36496223, 29.50142198, 34.99606797,
       28.59098403, 16.4199022 , 20.99877352, 15.25413961, 25.76591128,
       25.71992707, 13.7089455 ,  8.76241009, 25.90854743, 21.41635372,
       15.94255441, 29.82566993, 28.09117977, 30.62850074, 31.4134178 ,
       32.2322791 , 25.33473248, 25.73796381, 12.8020231 , 22.1075446 ,
       16.08953841, 24.76522437, 33.09597563, 25.54718828, 11.29174097,
       24.60778676, 33.52754593,  8.78260265, 12.30314557, 10.47690091,
       22.01568214, 28.04918813, 22.25595327, 10.22821309, 30.84289953,
       33.34789511, 25.15189551, 28.96288507, 28.49056149, 28.55748805,
       32.63614774, 27.24002095, 21.94367465, 22.74986275, 26.66349251,
       30.34260998, 21.88743033, 29.54158427, 34.25810267, 25.18946367,
       32.30058318, 13.74271433, 12.87065364, 14.44751551, 27.42102994,
       30.5080739 , 24.073127  , 19.80404037])

In [25]:
model.score(x_test,y_test)

0.8322120651833631

In [31]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.8322120651833631

In [32]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

ValueError: continuous is not supported

In [34]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
mae

2.54294088523097