In [5]:
import pandas as pd

In [3]:
id oper 
id oper 
all oper nahit

SyntaxError: invalid syntax (808649497.py, line 1)

In [ ]:
table1[table1['oper'] in set(table1['oper']).difference(set(table2['oper']))]

df1[df1['oper'] not in df2['oper']][['oper']]

In [145]:
df=pd.read_excel(r"C:\ML\Data_final_pivot_table.xlsx") 
df

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
0,19210001,Essay Infotech Computer Institute,"Angel Arc,Shop No.13,Plot No-23,Sec-8,",Kalamboli,Panvel,Raigad,410218,Quick heal,Urban,Kokan Division,...,14,25,26,6,13,7,20,8,280,70000
1,19210002,Mark Computer Information Technology,"1/3, Ashiana Complex, Shivaji Road, Near Hotel...",Mahad,Mahad,Raigad,402301,Quick heal,Urban,Kokan Division,...,57,0,31,10,16,0,10,28,398,99500
2,19210004,Sharmeen`S Computer Education,"Plot R-14 Shreebaug, No 3, Near Bus Stand",Alibag,Alibag,Raigad,402201,Quick heal,Urban,Kokan Division,...,5,9,10,3,0,0,0,7,123,30750
3,19210007,Om Computers,"Subhadra Kunj, Shop No. 7, Old ITI Bulding, Sa...",Poladpur,Poladpur,Raigad,402303,Quick heal,Rural,Kokan Division,...,4,10,6,3,6,4,2,7,234,58500
4,19210010,Webtech Computers,"120,First Floor, Riddhi Complex, Sector-13, Kh...",New Panvel (W),Panvel,Raigad,410206,Quick heal,Urban,Kokan Division,...,70,27,54,27,28,40,24,48,1122,280500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3297,42210125,Jalaram Computers,"Paltewar Complex, Near Dr. Puranik Hospital,Ma...",Ghatanji,Ghatanji,Yavatmal,445301,Quick heal,Urban,Amravati Division,...,0,0,17,0,10,0,18,7,62,15500
3298,42210126,sai computers,"vishal nagar,pipalgaon yawatmal, vishal nagar,...",yavatmal,Yavatmal,Yavatmal,445001,Quick heal,Urban,Amravati Division,...,51,0,58,0,41,0,27,21,298,74500
3299,42210127,"Good-Luck Computers, Maregaon","At Po Maregaon, At Po Maregaon, At Po Maregaon...",Maregaon,Maregaon,Yavatmal,445303,Quick heal,Urban,Amravati Division,...,0,0,0,0,0,0,0,22,22,5500
3300,42210128,SUYASH COMPUTER INSTITUTE,"SUYASH SADAN, MAIN ROAD GHATANJI TQ.GHATANJI, ...",GHATANJI,Ghatanji,Yavatmal,445301,Quick heal,Urban,Amravati Division,...,25,0,12,0,3,0,2,40,100,25000
3301,42210132,IMAGE COMPUTER EDUCATION,"Near Indira Chowk, Halbipura, Kalamb, Kalamb",KALAMB,Kalamb,Yavatmal,445401,Quick heal,Urban,Amravati Division,...,46,0,11,0,13,0,10,0,169,42250

In [23]:
# df[df['Taluka']=='Kalamb'][['City','District']]
# df[df['Taluka']=='Kalamb'][['City']]
df[df['Taluka']=='Kalamb']

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
1090,36210025,New Cyber Infotech,shivaji chowk parli road opp bsnl office,Kalamb,Kalamb,Osmanabad,413507,Quick heal,Urban,Aurangabad Division,...,3,1,6,1,1,1,3,3,53,13250
1096,36210031,Gayatri Computers,"GANDHI NAGAR, GANDHI CHOWK, BAZAR MAIDAN ROAD,...",Kalamb,Kalamb,Osmanabad,413507,Quick heal,Urban,Aurangabad Division,...,10,5,4,5,4,0,5,0,94,23500
1100,36210038,Ap-Tech Computer Education,Near Rural Hospital,Kalamb,Kalamb,Osmanabad,413507,Quick heal,Urban,Aurangabad Division,...,15,16,9,2,5,0,7,0,153,38250
1107,36210064,Aashirwad Computers,"Opp. Police Station, Barshi Road At.Post.Yermala",Yermala,Kalamb,Osmanabad,413525,Quick heal,Rural,Aurangabad Division,...,22,11,0,7,5,0,7,5,127,31750
1108,36210070,Gayatri Computers,"Behind Police Station, College Road, Shiradhon",Shiradhon,Kalamb,Osmanabad,413528,Quick heal,Rural,Aurangabad Division,...,5,0,1,0,1,0,0,51,108,27000
1118,36210104,HI-TECH COMPUTER EDUCATION,"NEAR GANESH MANDIR, MAIN ROAD, KHAMASWADI,",KHAMASWADI,Kalamb,Osmanabad,413507,Quick heal,Rural,Aurangabad Division,...,21,14,1,3,3,0,1,0,75,18750
1119,36210106,SAI COLLEGE OF COMPUTER EDUCATION,"NATURAL SUGAR & ALLIED INDUSTRIES LTD, SAINAGA...",RANJANI,Kalamb,Osmanabad,413528,Quick heal,Rural,Aurangabad Division,...,51,26,7,7,10,5,8,19,228,57000
1125,36210122,SAI COMPUTER,At Post Dahiphal,Dahiphal,Kalamb,Osmanabad,413525,Quick heal,Rural,Aurangabad Division,...,2,1,18,10,1,1,9,0,63,15750
1129,36210131,Shree Samarth Computer Education,"Grampanchayat Karyalay, Pahila Majla, Main Roa...",Shiradhon,Kalamb,Osmanabad,413528,Quick heal,Rural,Aurangabad Division,...,35,34,51,25,21,5,13,0,494,123500
1160,36210205,SATYAM COMPUTER,kalamb yedshi road,KALLAM,Kalamb,Osmanabad,413507,Quick heal,Urban,Aurangabad Division,...,52,0,10,13,10,0,9,20,297,74250
1161,36210206,Prachi computer center,at post gour,gour,Kalamb,Osmanabad,413525,Quick heal,Rural,Aurangabad Division,...,43,28,14,10,3,0,8,0,138,34500
1162,36210207,Shreeyesh Computers,At Po Satephal 413405,Kalamb,Kalamb,Osmanabad,410435,Quick heal,Rural,Aurangabad Division,...,27,15,0,11,0,0,35,2,131,32750
3273,42210062,Shubham Computer Ins.,Shubham Comp. Institute .Jodmoha,Jodmoha,Kalamb,Yavatmal,445002,Quick heal,Rural,Amravati Division,...,17,0,9,0,5,0,14,0,102,25500
3301,42210132,IMAGE COMPUTER EDUCATION,"Near Indira Chowk, Halbipura, Kalamb, Kalamb",KALAMB,Kalamb,Yavatmal,445401,Quick heal,Urban,Amravati Division,...,46,0,11,0,13,0,10,0,169,42250

In [32]:
# city = alibaag and total salary between 500-100
df[(df['City']=='Alibag') & ((df['Total Sale 2021']>=500) & (df['Total Sale 2021']<=1000 ))]

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
57,19210147,CREATIVE TECH COMPUTER EDUCATION,"Near Kanyashala, Brahmin Ali, Alibag, Dist Raigad",Alibag,Alibag,Raigad,402201,Quick heal,Urban,Kokan Division,...,17,41,1,0,10,0,93,35,567,141750

In [62]:
gb=df.groupby(df['City'])
gb.mean('Total Business in 2021')[['Total Business in 2021']]

               Total Business in 2021
City
ADAS                          28500.0
ADUL                         104500.0
AHMEDPUR                       7500.0
AJINTHA                      121500.0
AKOLA                         37450.0
...                               ...
umapur                        20250.0
uruli kanchan                 47500.0
vaijapur                      26500.0
wadwani                       86500.0
yavatmal                      74500.0

[1450 rows x 1 columns]

In [52]:
gb=df.groupby(['City','District'])
gb.mean()

,,Client_Code,Pin,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
City,District,,,,,,,,,,,,,,,,,,,,,
ADAS,Beed,46210304.0,431517.0,5.000000,2.0,50.0,38.0,NaN,1.000000,5.0,NaN,...,4.0,12.0,17.0,6.0,2.0,0.0,5.0,7.0,114.0,28500.0
ADUL,Aurangabad,16210226.0,431121.0,NaN,47.0,63.0,107.0,NaN,45.000000,30.0,24.000000,...,79.0,41.0,20.0,26.0,3.0,12.0,17.0,28.0,418.0,104500.0
AHMEDPUR,Latur,45210168.0,413515.0,12.000000,6.0,15.0,56.0,27.0,25.000000,13.0,6.000000,...,0.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,30.0,7500.0
AJINTHA,Aurangabad,16210293.0,431117.0,NaN,NaN,20.0,15.0,16.0,4.000000,NaN,7.000000,...,45.0,19.0,26.0,40.0,34.0,9.0,8.0,0.0,486.0,121500.0
AKOLA,Akola,12210107.4,444002.0,7.333333,6.0,31.0,85.0,14.0,15.666667,9.0,10.666667,...,18.8,0.0,43.4,0.0,10.6,0.0,5.4,11.4,149.8,37450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
umapur,Beed,46210313.0,431130.0,NaN,NaN,NaN,34.0,4.0,NaN,15.0,11.000000,...,19.0,9.0,0.0,11.0,3.0,2.0,4.0,0.0,81.0,20250.0
uruli kanchan,Pune South,47210104.0,412202.0,43.000000,NaN,NaN,167.0,5.0,9.000000,NaN,12.000000,...,23.0,0.0,12.0,0.0,10.0,0.0,10.0,0.0,190.0,47500.0
vaijapur,Aurangabad,16210315.0,423701.0,9.000000,NaN,21.0,40.0,14.0,23.000000,33.0,14.000000,...,17.0,5.0,0.0,0.0,12.0,0.0,9.0,16.0,106.0,26500.0
wadwani,Beed,46210245.0,431144.0,17.000000,NaN,NaN,94.0,20.0,22.000000,6.0,6.000000,...,18.0,15.0,10.0,11.0,18.0,0.0,11.0,6.0,346.0,86500.0
yavatmal,Yavatmal,42210126.0,445001.0,NaN,8.0,NaN,166.0,NaN,NaN,58.0,0.000000,...,51.0,0.0,58.0,0.0,41.0,0.0,27.0,21.0,298.0,74500.0

In [79]:

c=c.dropna()
obj=c.groupby(c['City'])
for i in c['City'].unique():
    print(i,'      -->',obj.get_group(f"{i}")['Total Sale 2021'].mean())

Mahad       --> 302.0
New Panvel (W)       --> 1122.0
Roha       --> 171.0
Panvel       --> 405.3333333333333
Revdanda       --> 272.0
KHOPOLI       --> 343.0
Navi Mumbai       --> 535.0
Murud       --> 348.0
Karjat       --> 319.6666666666667
Nagothane       --> 149.0
Kalamboli       --> 503.0
Kamothe       --> 410.0
PEN       --> 43.0
CHANERE       --> 353.0
KAMOTHE       --> 226.0
Bhira       --> 201.0
TALA       --> 151.0
Chiplun       --> 559.0
Lanja       --> 109.0
Rajapur       --> 241.0
Mandangad       --> 135.0
Nachane       --> 133.0
Kuwarbav       --> 257.0
Shringartali       --> 119.0
Adiware       --> 130.0
PIR LOTE       --> 385.0
Dapoli       --> 229.0
Devrukh       --> 317.0
NATE       --> 280.0
Sawarde       --> 641.0
DEVHARE       --> 41.0
CHIPLUN       --> 178.0
Kotawade       --> 242.0
Sakharpa (Kondgaon)       --> 136.0
Kudal       --> 190.5
Katta       --> 130.0
sawantwadi       --> 150.0
SINDHUDURG-DODAMARG-SARA       --> 686.0
SHRAVAN       --> 159.0
kudal       --> 308.0
SANGAVE KANEDI       --> 564.0
devgad       --> 705.0
Kankavli       --> 156.0
Malvan       --> 257.5
Sukalwad       --> 69.0
Kalamnuri       --> 211.0
Hingoli       --> 258.5
Pusegaon       --> 123.0
BABHULGAON       --> 7.0
Nandapur       --> 98.0
Latur       --> 170.6
Shirur Anantpal       --> 137.0
Ausa       --> 311.5
Nilanga       --> 89.5
Kasar Sirsi       --> 134.0
AHMEDPUR       --> 30.0
LATUR       --> 273.0
Udgir       --> 136.0
SAKOL       --> 131.0
HADOLTI       --> 166.0
Madansuri       --> 120.0
MALHIPPARGA       --> 292.0
MURUD       --> 375.0
AUSA       --> 97.0
Nanded       --> 256.6666666666667
Deglur       --> 103.0
Bhokar       --> 109.0
Naigaon       --> 122.0
Kuntur       --> 676.0
Ramanand Nagar       --> 187.0
Hanegaon       --> 126.0
Tamsa       --> 193.0
KUNDALWADI       --> 121.0
Mukramabad       --> 103.0
SONKHED       --> 109.0
Mandvi       --> 255.0
BHOKAR       --> 125.0
LOHA       --> 54.0
Dapka Gundopant       --> 111.0
Malakoli       --> 86.0
Bamni Fata       --> 236.0
malkaguda phata.       --> 128.0
NANDED       --> 202.0
BILOLI       --> 154.0
Sonpeth       --> 230.0
Parbhani       --> 149.33333333333334
Jintur       --> 37.0
Manwath       --> 44.0
Purna       --> 178.0
Charthana       --> 74.0
Pedgaon       --> 126.0
PARBHANI       --> 106.0
Aurangabad       --> 228.05555555555554
Waluj       --> 128.5
Sillod       --> 138.0
Deogaon Rangari       --> 196.0
Phulambri       --> 45.0
Pishor       --> 221.0
DAULATABAD       --> 136.0
Bajajnagar       --> 73.0
Karmad       --> 215.0
Kannad       --> 522.0
Asegaon       --> 102.0
Bharadi       --> 240.0
Lohgaon       --> 148.0
Gangapur       --> 152.0
AMBHAI       --> 325.0
chincholi       --> 37.0
Nagad       --> 113.0
Banoti       --> 227.0
AT.POST.NIDHONA TQ FULAMMBRI       --> 108.0
Krishnapur       --> 270.0
SHIVOOR       --> 171.0
AMTHANA       --> 159.0
Wahegaon       --> 516.0
MANOOR       --> 392.0
PAITHAN       --> 229.0
Dharur       --> 128.0
Majalgaon       --> 272.25
Ambejogai       --> 140.0
Beed       --> 73.5
Madalmohi       --> 71.0
Chousala       --> 582.0
Patoda       --> 576.0
Kada       --> 148.0
Wadwani       --> 140.0
NAVAGAN RAJURI,BEED       --> 231.0
Bansarola tal-Kaij       --> 130.0
Adas       --> 83.0
AMALNER       --> 315.0
Takarwan       --> 570.0
Limbaganesh       --> 84.0
Warola       --> 153.0
Ghatnandur       --> 105.0
SIRASDEVI       --> 186.0
CHAKLAMBA       --> 449.0
Georai       --> 96.0
BEED       --> 59.0
Dhmangaon       --> 582.0
KHALAPURI       --> 239.0
beed       --> 123.0
Chincholi Mali       --> 213.0
TALKHED       --> 133.0
Bhokardhan       --> 129.0
Ambad       --> 112.0
Jalna       --> 148.0
Ankushnagar       --> 166.0
Ramnager Grampanchayat       --> 100.0
Pimpalgoan       --> 102.0
Dhawada       --> 253.0
Chandanzira       --> 63.0
WARUD BK       --> 192.0
JAFRABAD       --> 228.0
JAMKHED       --> 142.0
PARADH (Bk)       --> 182.0
KUMBHAR PIMPALGAV       --> 152.0
JALNA       --> 104.0
Bhoom       --> 151.0
Osmanabad       --> 206.33333333333334
Kalamb       --> 94.0
Kasbe Tadwale       --> 341.0
Upala (M)       --> 130.0
Lohara       --> 210.0
WATEPHAL       --> 230.0
OSMANABAD       --> 346.0
Balsur       --> 19.0
PADOLI       --> 153.0
Bavi       --> 560.0
KALLAM       --> 297.0
Kalachouki       --> 140.0
Colaba       --> 186.0
Girgaon       --> 86.0
Mumbai       --> 105.64516129032258
Worli Naka       --> 256.0
Parel       --> 221.0
MUMBAI       --> 76.16666666666667
Mulund (W)       --> 93.0
Bhandup (W)       --> 195.5
Ghatkopar - E       --> 82.0
Mulund (E)       --> 303.0
Ghatkopar (W)       --> 139.0
Powai       --> 101.0
BHANDUP (W)       --> 81.0
Vidyavihar(East)       --> 22.0
Jogeshwari       --> 72.0
Borivali (W)       --> 52.0
Malad       --> 60.0
Kandivali (E)       --> 5.0
MUMBAI SUBURBAN       --> 252.0
Santacruz       --> 79.0
Wada       --> 100.0
Nallasopara (E)       --> 98.0
Virar- W       --> 592.0
Kalyan (W)       --> 117.5
Bhayandar (W)       --> 426.0
Thane (W)       --> 191.0
Dombivali (W)       --> 60.0
Bhiwandi       --> 226.0
Kalyan (E)       --> 348.5
Belapur       --> 124.0
Nerul       --> 207.0
Dombivali (E)       --> 220.5
Kalwa       --> 136.0
NAVI MUMBAI       --> 176.0
Ambernath (E)       --> 119.0
MIRA ROAD - E       --> 547.0
Mumbra       --> 269.5
Shahapur       --> 121.0
Badlapur (W)       --> 130.5
Dhule       --> 174.57142857142858
Sakri       --> 79.0
Pimpalner       --> 222.0
Jalgaon       --> 236.5
Yaval       --> 525.0
Erandol       --> 170.0
Savada       --> 286.0
Chalisgaon       --> 212.0
Chopda       --> 132.0
Parola       --> 121.33333333333333
SHENDURNI       --> 56.0
Jamner       --> 182.0
Raver       --> 262.0
DHARANGAON       --> 190.0
Navapur       --> 93.0
Akkalkuwa       --> 163.0
Ahmednagar       --> 260.6
Akole       --> 128.66666666666666
Shrigonda       --> 151.0
Jamkhed       --> 183.0
Kolpewadi       --> 90.5
Ganore       --> 144.0
Sangamner       --> 191.5
Savedi       --> 193.0
Rahata       --> 106.0
Ruichhattishi       --> 208.0
KARJAT       --> 420.0
NIMON       --> 136.0
SHRIRAMPUR       --> 75.0
DEOLALI PRAVARA       --> 297.0
Nasik       --> 268.0
Nashik       --> 198.8
Yeola       --> 121.0
Lakhamapur       --> 144.0
Satana       --> 152.5
Nandgaon       --> 100.0
Saikheda       --> 95.0
Deola       --> 219.0
Lahavit       --> 271.0
Niphad       --> 105.0
Malegaon       --> 263.5
Dindori       --> 104.0
Lasalgaon       --> 157.0
Chandori       --> 212.0
Chakan       --> 43.5
Pimpri Chinchwad       --> 114.85714285714286
Talegaon Dabhade       --> 37.0
Narayangaon       --> 49.0
Lonavala       --> 142.0
Pune       --> 192.52380952380952
Pune City       --> 137.0
Pimpri chinchwad       --> 50.0
Daund       --> 67.0
Ghodegaon       --> 149.0
Pirangut       --> 67.0
Manchar       --> 84.0
Junnar       --> 70.0
Ambegaon       --> 52.0
PCMC       --> 191.0
Chikhali       --> 241.0
Pimpari       --> 125.0
Alandi       --> 148.0
Kedgaon       --> 95.0
Mandavgan Pharata       --> 101.0
Kurkumbh       --> 273.0
Haveli       --> 100.0
YAWAT       --> 308.0
PUNE       --> 244.0
Indapur       --> 106.0
Baramati       --> 575.0
Saswad       --> 101.0
Uruli Kanchan       --> 82.0
Someshwar Nagar       --> 104.0
Walchandnagar       --> 629.0
Nimgaon       --> 286.0
Sangavi       --> 177.0
Behind  VIT College back side       --> 214.0
Pandare       --> 474.0
Barshi       --> 255.0
Karmala       --> 125.0
Solapur       --> 306.0
Kurduwadi       --> 250.5
Akluj       --> 201.0
Malshiras       --> 140.0
Shivaji Nagar       --> 201.0
Penur       --> 103.0
Karajgi       --> 234.0
solapur       --> 155.0
SOLAPUR       --> 61.0
Ajara       --> 190.0
Kolhapur       --> 279.3333333333333
Nesari       --> 199.0
Bambwade       --> 185.0
Kurundwad       --> 103.0
Kagal       --> 61.0
Kowad       --> 175.0
Gargoti       --> 109.0
Shirol       --> 156.0
Hupari       --> 179.0
Ichalkaranji       --> 143.0
Rukadi       --> 82.0
Bachani       --> 249.0
JAYSINGPUR       --> 423.0
Gadhinglaj       --> 110.0
Solankur       --> 129.0
KODOLI, KOLHAPUR       --> 294.0
KOLHAPUR       --> 168.0
Takawade       --> 158.0
KHOTWADI       --> 120.0
Islampur       --> 182.0
Kundal       --> 128.0
Palus       --> 120.0
Sangli       --> 76.5
Subhashnagar       --> 101.0
Tasgaon       --> 88.0
Kawtheekand       --> 130.0
Shirala       --> 142.0
Takari       --> 450.0
Kavathe Piran       --> 116.0
Lingnoor       --> 88.0
KADEGAON       --> 70.0
Mayani       --> 168.0
Wai       --> 102.0
Talmavale       --> 104.0
Koregaon       --> 82.0
Umbraj       --> 103.0
Apshinge       --> 120.0
Phaltan       --> 142.0
Pachgani       --> 91.0
Kodoli (Satara)       --> 20.0
Karad       --> 126.0
Kodoli       --> 81.0
Satara       --> 46.0
KOREGAON       --> 46.0
Wathar(Kiroli)       --> 69.0
Medha(Jawali)       --> 127.0
Atit       --> 55.0
Pusesavali       --> 97.0
Sakoli       --> 78.0
Petrol Pump (Thana)       --> 83.0
Warora       --> 45.0
Gadchandur       --> 100.5
Chandrapur       --> 151.0
Bramhapuri       --> 84.0
Rajura       --> 95.0
Ballarpur       --> 52.0
Nawargaon       --> 99.0
SAOLI       --> 269.0
NAGBHID       --> 327.0
MUL       --> 629.0
WARORA       --> 192.0
BRAMHAPURI       --> 183.0
BALLARPUR       --> 181.0
CHANDRAPUR       --> 384.0
Armori       --> 242.0
Karakheda       --> 176.0
Desaiganj       --> 335.0
Dhanora       --> 232.0
Gadchiroli       --> 285.0
Aheri       --> 109.0
Mulchera       --> 542.0
Gondia       --> 318.0
Salekasa       --> 165.0
Tirora       --> 139.0
Gondiya       --> 100.0
Saundad       --> 604.0
Sadak Arjuni       --> 649.0
Thana       --> 234.0
AMGAON       --> 332.0
Ekodi       --> 192.0
MAHAGAON       --> 286.0
Arjuni/Mor.       --> 506.0
Umred       --> 460.0
Nagpur       --> 226.2173913043478
Kanhan       --> 211.5
Katol       --> 401.0
Kondhali       --> 580.0
Mohpa       --> 384.0
Patansaongi       --> 141.0
Savner       --> 460.0
Sawargaon       --> 126.0
Veltur       --> 154.0
Kampthi       --> 180.0
Dabha       --> 203.0
Koradi       --> 204.0
Ramtek       --> 502.0
NAGPUR       --> 112.0
Saoner       --> 311.0
KONDHALI       --> 299.0
Hingna       --> 150.0
Mandhal       --> 245.0
HINGNA       --> 294.0
Nagpur Gramin       --> 398.0
Wardha       --> 332.85714285714283
Hinganghat       --> 385.0
Karanja(Ghadge)       --> 117.0
Seloo       --> 318.0
Talegaon (Sp)       --> 163.0
Pulgaon       --> 429.0
KORA       --> 262.0
Samudrpur       --> 365.0
Akola       --> 185.33333333333334
Patur       --> 272.0
Akot       --> 147.0
Telhara       --> 138.0
Murtizapur       --> 157.0
PINJAR       --> 117.0
AKOLA       --> 124.0
AKOT       --> 142.0
KHADKI AKOLA       --> 242.0
Daryapoor       --> 179.0
Dhamangaon       --> 451.0
Paratwada       --> 207.66666666666666
Amravati       --> 179.2
Morshi       --> 98.0
Nandgoan Peth       --> 168.0
Chandur Bazar       --> 363.5
Walgaon       --> 159.0
Badnera       --> 156.0
Kurha       --> 216.0
Dharani       --> 112.0
Achalpur       --> 169.0
Anjansingi       --> 475.0
Jarud       --> 118.0
Shirasgaon Kasaba       --> 144.0
Buldhana       --> 124.0
Malkapur       --> 126.0
Jalgaon(Jamod)       --> 184.0
Khamgaon       --> 110.0
Sultanpur       --> 147.0
Sindhkhed Raja       --> 141.0
Shegaon       --> 120.0
Deulgaon Raja       --> 58.0
Lonar       --> 244.0
Sangrampur       --> 175.0
Mehekar       --> 109.0
JALGAON JAMOD       --> 250.0
JALGAON JAMOD DIST- BULDHANA       --> 100.0
MASRUL       --> 128.0
Mhasla Bk       --> 106.0
BULDHANA       --> 171.0
Chikhli       --> 100.0
ANJANI KHURD, TQ LONAR       --> 38.0
Buldana       --> 211.0
Washim       --> 169.5
Risod       --> 195.5
Ansing       --> 95.0
Manora       --> 213.0
mangrulpir,navin sonkhas       --> 156.0
MANGRULPIR       --> 192.0
Yavatmal       --> 182.16666666666666
Mahagaon       --> 131.0
Digras       --> 130.0
Darvha       --> 300.0
Pusad       --> 163.33333333333334
Ner Parsopant       --> 192.0
Mukutban       --> 90.0
Ghatangi       --> 119.0
Vani       --> 145.0
Wani       --> 53.0
Ner       --> 122.0
Mulawa       --> 230.0
PUSAD       --> 115.0
Ralegaon       --> 246.0
Ghatanji       --> 62.0
KALAMB       --> 169.0

In [75]:
obj=c.groupby('City')
obj.mean('Total Sale 2021')[['Total Sale 2021']]

               Total Sale 2021
City
ADAS                     114.0
ADUL                     418.0
AHMEDPUR                  30.0
AJINTHA                  486.0
AKOLA                    149.8
...                        ...
umapur                    81.0
uruli kanchan            190.0
vaijapur                 106.0
wadwani                  346.0
yavatmal                 298.0

[1450 rows x 1 columns]

In [68]:
df.groupby('Name').mean()
obj=c.groupby('City')
obj.max('Total Sale 2021')[['Total Sale 2021']]

               Total Sale 2021
City
ADAS                       114
ADUL                       418
AHMEDPUR                    30
AJINTHA                    486
AKOLA                      233
...                        ...
umapur                      81
uruli kanchan              190
vaijapur                   106
wadwani                    346
yavatmal                   298

[1450 rows x 1 columns]

In [80]:
df.sample()

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
2226,37210018,Sun Computer Education,"SUN COMPUTER EDUCATION , FLAT NO 8, SHANTI PRE...",Pune,Haveli,Pune South,411041,Quick heal,Urban,Pune Division,...,26,0,35,0,38,0,28,0,292,73000

In [83]:
df.head(5)

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
0,19210001,Essay Infotech Computer Institute,"Angel Arc,Shop No.13,Plot No-23,Sec-8,",Kalamboli,Panvel,Raigad,410218,Quick heal,Urban,Kokan Division,...,14,25,26,6,13,7,20,8,280,70000
1,19210002,Mark Computer Information Technology,"1/3, Ashiana Complex, Shivaji Road, Near Hotel...",Mahad,Mahad,Raigad,402301,Quick heal,Urban,Kokan Division,...,57,0,31,10,16,0,10,28,398,99500
2,19210004,Sharmeen`S Computer Education,"Plot R-14 Shreebaug, No 3, Near Bus Stand",Alibag,Alibag,Raigad,402201,Quick heal,Urban,Kokan Division,...,5,9,10,3,0,0,0,7,123,30750
3,19210007,Om Computers,"Subhadra Kunj, Shop No. 7, Old ITI Bulding, Sa...",Poladpur,Poladpur,Raigad,402303,Quick heal,Rural,Kokan Division,...,4,10,6,3,6,4,2,7,234,58500
4,19210010,Webtech Computers,"120,First Floor, Riddhi Complex, Sector-13, Kh...",New Panvel (W),Panvel,Raigad,410206,Quick heal,Urban,Kokan Division,...,70,27,54,27,28,40,24,48,1122,280500

In [84]:
df.tail()

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
3297,42210125,Jalaram Computers,"Paltewar Complex, Near Dr. Puranik Hospital,Ma...",Ghatanji,Ghatanji,Yavatmal,445301,Quick heal,Urban,Amravati Division,...,0,0,17,0,10,0,18,7,62,15500
3298,42210126,sai computers,"vishal nagar,pipalgaon yawatmal, vishal nagar,...",yavatmal,Yavatmal,Yavatmal,445001,Quick heal,Urban,Amravati Division,...,51,0,58,0,41,0,27,21,298,74500
3299,42210127,"Good-Luck Computers, Maregaon","At Po Maregaon, At Po Maregaon, At Po Maregaon...",Maregaon,Maregaon,Yavatmal,445303,Quick heal,Urban,Amravati Division,...,0,0,0,0,0,0,0,22,22,5500
3300,42210128,SUYASH COMPUTER INSTITUTE,"SUYASH SADAN, MAIN ROAD GHATANJI TQ.GHATANJI, ...",GHATANJI,Ghatanji,Yavatmal,445301,Quick heal,Urban,Amravati Division,...,25,0,12,0,3,0,2,40,100,25000
3301,42210132,IMAGE COMPUTER EDUCATION,"Near Indira Chowk, Halbipura, Kalamb, Kalamb",KALAMB,Kalamb,Yavatmal,445401,Quick heal,Urban,Amravati Division,...,46,0,11,0,13,0,10,0,169,42250

In [87]:
#df.isnull().sum().sum()  # to count total null in df
df.isnull().sum()   # columnwise null

Client_Code                  0
Client_Name                  0
Address                      0
City                        13
Taluka                       0
District                     0
Pin                          0
Product_Name                 0
Area Type                    0
Division                     0
RM_Name                      0
Jr.RM_Name                   0
DL_Agency_Name               0
TL_Agency_Name               0
2019-01-01 00:00:00        818
2019-02-01 00:00:00       1460
2019-03-01 00:00:00        985
2019-04-01 00:00:00        176
2019-05-01 00:00:00        709
2019-06-01 00:00:00       1261
2019-07-01 00:00:00        486
2019-08-01 00:00:00        536
2019-09-01 00:00:00        657
2019-10-01 00:00:00          0
2019-11-01 00:00:00          0
2019-12-01 00:00:00        454
Total Sale 2019              0
Total Business in 2019       0
2020-01-01 00:00:00          0
2020-02-01 00:00:00          0
2020-03-01 00:00:00          0
2020-04-01 00:00:00          0
2020-05-01 00:00:00          0
2020-06-01 00:00:00          0
2020-07-01 00:00:00          0
2020-08-01 00:00:00          0
2020-09-01 00:00:00          0
2020-10-01 00:00:00          0
2020-11-01 00:00:00          0
2020-12-01 00:00:00          0
Total Sale 2020              0
Total Business in 2020       0
2021-01-01 00:00:00          0
2021-02-01 00:00:00          0
2021-03-01 00:00:00          0
2021-04-01 00:00:00          0
2021-05-01 00:00:00          0
2021-06-01 00:00:00          0
2021-07-01 00:00:00          0
2021-08-01 00:00:00          0
2021-09-01 00:00:00          0
2021-10-01 00:00:00          0
2021-11-01 00:00:00          0
2021-12-01 00:00:00          0
Total Sale 2021              0
Total Business in 2021       0
dtype: int64

In [88]:
df.shape

(3302, 56)

In [101]:
new_df = df.set_index('Client_Code')
new_df

,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,RM_Name,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
Client_Code,,,,,,,,,,,,,,,,,,,,,
19210001,Essay Infotech Computer Institute,"Angel Arc,Shop No.13,Plot No-23,Sec-8,",Kalamboli,Panvel,Raigad,410218,Quick heal,Urban,Kokan Division,Milind More,...,14,25,26,6,13,7,20,8,280,70000
19210002,Mark Computer Information Technology,"1/3, Ashiana Complex, Shivaji Road, Near Hotel...",Mahad,Mahad,Raigad,402301,Quick heal,Urban,Kokan Division,Milind More,...,57,0,31,10,16,0,10,28,398,99500
19210004,Sharmeen`S Computer Education,"Plot R-14 Shreebaug, No 3, Near Bus Stand",Alibag,Alibag,Raigad,402201,Quick heal,Urban,Kokan Division,Milind More,...,5,9,10,3,0,0,0,7,123,30750
19210007,Om Computers,"Subhadra Kunj, Shop No. 7, Old ITI Bulding, Sa...",Poladpur,Poladpur,Raigad,402303,Quick heal,Rural,Kokan Division,Milind More,...,4,10,6,3,6,4,2,7,234,58500
19210010,Webtech Computers,"120,First Floor, Riddhi Complex, Sector-13, Kh...",New Panvel (W),Panvel,Raigad,410206,Quick heal,Urban,Kokan Division,Milind More,...,70,27,54,27,28,40,24,48,1122,280500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42210125,Jalaram Computers,"Paltewar Complex, Near Dr. Puranik Hospital,Ma...",Ghatanji,Ghatanji,Yavatmal,445301,Quick heal,Urban,Amravati Division,Sandeep Deshpande,...,0,0,17,0,10,0,18,7,62,15500
42210126,sai computers,"vishal nagar,pipalgaon yawatmal, vishal nagar,...",yavatmal,Yavatmal,Yavatmal,445001,Quick heal,Urban,Amravati Division,Sandeep Deshpande,...,51,0,58,0,41,0,27,21,298,74500
42210127,"Good-Luck Computers, Maregaon","At Po Maregaon, At Po Maregaon, At Po Maregaon...",Maregaon,Maregaon,Yavatmal,445303,Quick heal,Urban,Amravati Division,Sandeep Deshpande,...,0,0,0,0,0,0,0,22,22,5500
42210128,SUYASH COMPUTER INSTITUTE,"SUYASH SADAN, MAIN ROAD GHATANJI TQ.GHATANJI, ...",GHATANJI,Ghatanji,Yavatmal,445301,Quick heal,Urban,Amravati Division,Sandeep Deshpande,...,25,0,12,0,3,0,2,40,100,25000
42210132,IMAGE COMPUTER EDUCATION,"Near Indira Chowk, Halbipura, Kalamb, Kalamb",KALAMB,Kalamb,Yavatmal,445401,Quick heal,Urban,Amravati Division,Sandeep Deshpande,...,46,0,11,0,13,0,10,0,169,42250

In [107]:
ndf=df.reindex(df['Address'])
ndf

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
Address,,,,,,,,,,,,,,,,,,,,,
"Angel Arc,Shop No.13,Plot No-23,Sec-8,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1/3, Ashiana Complex, Shivaji Road, Near Hotel Welcome, Mahad Raigad",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Plot R-14 Shreebaug, No 3, Near Bus Stand",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Subhadra Kunj, Shop No. 7, Old ITI Bulding, Sainik Nagar, Opp. Poladpur ST.Stand, Poldpur, Tal. Poladpur, Dist. Raigad. Pin - 402303.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"120,First Floor, Riddhi Complex, Sector-13, Khanda Colony, New Panvel (Wt) Pin-410206",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Paltewar Complex, Near Dr. Puranik Hospital,Main Road,Ghatanji",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"vishal nagar,pipalgaon yawatmal, vishal nagar,pipalgaon yawatmal, yawatmal, yawatmal",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"At Po Maregaon, At Po Maregaon, At Po Maregaon, At Po Maregaon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"SUYASH SADAN, MAIN ROAD GHATANJI TQ.GHATANJI, DIST. YAVATMAL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Near Indira Chowk, Halbipura, Kalamb, Kalamb",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
df['City'].unique()   # uniqe values
len(df['City'].unique())  # no of unique city

1451

In [121]:
df['City'].value_counts()   # count of each city

Mumbai           152
Pune             106
Aurangabad        73
Nagpur            67
Nashik            55
                ...
WORLI NAKA         1
Wadala Mumbai      1
Malgund            1
Ghatkopar - E      1
KALAMB             1
Name: City, Length: 1450, dtype: int64

In [137]:
df.sort_values(by=df.columns.to_list(),ascending=False)  # every col desceding
df.sort_values(by=['Client_Code'],ascending=False)    # one col desc

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
1461,108210048,PRIME COMPUTERS,"SHOP NO A-5 , ANDHERI CHAYA, SRA CHS LTD, OPP ...",NaN,Andheri,Mumbai Western Suburbs,400093,Mcafee,Urban,Kokan Division,...,10,9,5,8,4,6,3,0,190,47500
1460,108210046,MiC SOFT SOLUTIONS,"micsoft solutions, near srpf camp group 8, wes...",MUMBAI,Andheri,Mumbai Western Suburbs,400060,Mcafee,Urban,Kokan Division,...,17,2,15,0,7,11,0,0,181,45250
1459,108210044,SHAMAL COMPUTERS,"BHAGATSINGH NO-1,NEAR HANUMAN GALLI, LINK ROAD...",NaN,Borivali,Mumbai Western Suburbs,400104,Mcafee,Urban,Kokan Division,...,1,0,9,0,5,0,2,9,49,12250
1458,108210042,smart computer academy,"singh state road no.2, opp thakur college near...",mumbai,Borivali,Mumbai Western Suburbs,400101,Quick heal,Urban,Kokan Division,...,0,2,5,7,0,7,0,12,62,15500
1457,108210041,Keerti Computer Institute,"1ST Floor, Sangeeta Niwas, Opp.BMC School, Nea...",Mumbai,Andheri,Mumbai Western Suburbs,400068,Quick heal,Urban,Kokan Division,...,63,17,34,29,10,9,8,3,912,228000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,11210027,Aim Computer,"9,Ravindra Nagar Opp. Sharda Temple, Mahabal,",Jalgaon,Jalgaon,Jalgaon,425002,Quick heal,Urban,Nashik Division,...,38,7,22,16,15,14,10,2,473,118250
1677,11210018,Modern Institute Of Computer Technology,"4/B, Prabuddha Colony, Court Road",Amalner,Amalner,Jalgaon,425401,Quick heal,Urban,Nashik Division,...,12,5,8,13,0,11,3,3,119,29750
1676,11210014,Yash Computer Technology,"Sardar Vallabh bhai Patel Complex,",Faizpur,Yawal,Jalgaon,425503,Quick heal,Urban,Nashik Division,...,10,7,0,5,1,2,2,0,57,14250
1675,11210013,Pioneer Computer Technology Center,"25,26,P.E.,Tatya Super Market,Savda Road,",Raver,Raver,Jalgaon,425508,Quick heal,Urban,Nashik Division,...,3,14,4,4,0,0,0,24,81,20250
1674,11210003,IGM Computer Education,"Basement Lathi Plaza, Opp. Shahu Maharaj Complex",Jalgaon,Jalgaon,Jalgaon,425001,Quick heal,Urban,Nashik Division,...,21,9,5,0,3,0,1,11,197,49250

TypeError: 'Index' object is not callable

In [141]:
df.query('Taluka == "Kalamb" or Taluka == "Andheri"')
# df.query('            ')

,Client_Code,Client_Name,Address,City,Taluka,District,Pin,Product_Name,Area Type,Division,...,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,Total Sale 2021,Total Business in 2021
1090,36210025,New Cyber Infotech,shivaji chowk parli road opp bsnl office,Kalamb,Kalamb,Osmanabad,413507,Quick heal,Urban,Aurangabad Division,...,3,1,6,1,1,1,3,3,53,13250
1096,36210031,Gayatri Computers,"GANDHI NAGAR, GANDHI CHOWK, BAZAR MAIDAN ROAD,...",Kalamb,Kalamb,Osmanabad,413507,Quick heal,Urban,Aurangabad Division,...,10,5,4,5,4,0,5,0,94,23500
1100,36210038,Ap-Tech Computer Education,Near Rural Hospital,Kalamb,Kalamb,Osmanabad,413507,Quick heal,Urban,Aurangabad Division,...,15,16,9,2,5,0,7,0,153,38250
1107,36210064,Aashirwad Computers,"Opp. Police Station, Barshi Road At.Post.Yermala",Yermala,Kalamb,Osmanabad,413525,Quick heal,Rural,Aurangabad Division,...,22,11,0,7,5,0,7,5,127,31750
1108,36210070,Gayatri Computers,"Behind Police Station, College Road, Shiradhon",Shiradhon,Kalamb,Osmanabad,413528,Quick heal,Rural,Aurangabad Division,...,5,0,1,0,1,0,0,51,108,27000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,108210041,Keerti Computer Institute,"1ST Floor, Sangeeta Niwas, Opp.BMC School, Nea...",Mumbai,Andheri,Mumbai Western Suburbs,400068,Quick heal,Urban,Kokan Division,...,63,17,34,29,10,9,8,3,912,228000
1460,108210046,MiC SOFT SOLUTIONS,"micsoft solutions, near srpf camp group 8, wes...",MUMBAI,Andheri,Mumbai Western Suburbs,400060,Mcafee,Urban,Kokan Division,...,17,2,15,0,7,11,0,0,181,45250
1461,108210048,PRIME COMPUTERS,"SHOP NO A-5 , ANDHERI CHAYA, SRA CHS LTD, OPP ...",NaN,Andheri,Mumbai Western Suburbs,400093,Mcafee,Urban,Kokan Division,...,10,9,5,8,4,6,3,0,190,47500
3273,42210062,Shubham Computer Ins.,Shubham Comp. Institute .Jodmoha,Jodmoha,Kalamb,Yavatmal,445002,Quick heal,Rural,Amravati Division,...,17,0,9,0,5,0,14,0,102,25500
3301,42210132,IMAGE COMPUTER EDUCATION,"Near Indira Chowk, Halbipura, Kalamb, Kalamb",KALAMB,Kalamb,Yavatmal,445401,Quick heal,Urban,Amravati Division,...,46,0,11,0,13,0,10,0,169,42250

In [142]:
data = {
    'Name': ['John', 'Matt', 'John', 'Cateline'],
    'math_Marks': [18, 20, 19, 15],
    'science_Marks': [10, 20, 15, 12]
}

# Create a DataFrame df
df = pd.DataFrame(data)

df['total'] = df.apply(lambda row : row["math_Marks"] + row["science_Marks"], axis=1)


print(df)

       Name  math_Marks  science_Marks  total
0      John          18             10     28
1      Matt          20             20     40
2      John          19             15     34
3  Cateline          15             12     27

In [143]:
df['total1'] = df["math_Marks"] + df["science_Marks"]

In [144]:
df

       Name  math_Marks  science_Marks  total  total1
0      John          18             10     28      28
1      Matt          20             20     40      40
2      John          19             15     34      34
3  Cateline          15             12     27      27

In [ ]:
# to handle null values
interpolate() – this method fills the missing values with computed interpolation values. 
The interpolation technique can be linear, polynomial, spline, time, etc.,