In [3]:
import seaborn as sns

In [6]:
df = sns.load_dataset('titanic')

In [7]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [10]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
df.dropna()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [12]:
y=df['survived']

In [13]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [14]:
y.value_counts()

0    549
1    342
Name: survived, dtype: int64

In [15]:
X=df[['pclass','sibsp','parch']]

In [16]:
X

     pclass  sibsp  parch
0         3      1      0
1         1      1      0
2         3      0      0
3         1      1      0
4         3      0      0
..      ...    ...    ...
886       2      0      0
887       1      0      0
888       3      1      2
889       1      0      0
890       3      0      0

[891 rows x 3 columns]

In [17]:
pip install imblearn

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: imblearn in c:\users\admin\miniconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\admin\miniconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn->imblearn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.24.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\admin\miniconda3\lib\site-packages (0.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn) (1.2.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn) (1.24.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\miniconda3\lib\site-packages (from imbalanced-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
from imblearn.over_sampling import RandomOverSampler

In [28]:
Occ = RandomOverSampler(sampling_strategy=0.70)

In [29]:
Occ

RandomOverSampler(sampling_strategy=0.7)

In [30]:
X_resample,y_resample=Occ.fit_resample(X,y)

In [54]:
y_resample.value_counts()

0    549
1    384
Name: survived, dtype: int64

In [32]:
X_resample.pclass.value_counts()

3    504
1    230
2    199
Name: pclass, dtype: int64

In [33]:
549*70/100

384.3

In [ ]:
#--------------------------------------------------#-----------------------------------#-----------------------------------

In [43]:
from imblearn.under_sampling import NearMiss

In [50]:
nr = NearMiss(sampling_strategy=0.70)

In [51]:
xnew_under,Ynew_under=nr.fit_resample(X,y)

In [52]:
Ynew_under.value_counts()

0    488
1    342
Name: survived, dtype: int64

In [53]:
488*70/100

341.6

In [55]:
A=(33,4,5,5)
b=(4,5,7,8)

In [56]:
c=A+b

In [57]:
c

(33, 4, 5, 5, 4, 5, 7, 8)